.buying-product-item {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    margin-bottom: 0;
    border: 1px solid black;
}

.buying-product-item__img {
    object-fit: contain;
    width: 100%;
    max-width: 100px;
    max-height: 60px;
    height: auto;
}
